@import url("./root/root.css");
@import url("./media/@keyframes.css");
@import url("./media/@media.css");
@import url("./root/scrollbar.css");

/* BODY GLOBALS */
body {
  overflow: auto;
}

/* HEADER */

/* CAROUSEL */
.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
.carousel-caption {
  cursor: default;
}
#carousel_ {
  box-shadow: 0 8px 10px var(--box-shadow-light);
}

/* CATALOG */
#catalog_body {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-top: 1.2em;
  padding-bottom: 1em;
}




/* FOOTER */

footer {
  background: #212529;
}

#shadow {
  width: 100%;
  height: var(--grad-height);
}
#button-addon2 {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 1000% 100%;
  border-color: transparent;
  z-index: 0;
  animation: gradient_anim 10s linear infinite;
}

#grad_anim {
  width: inherit;
  height: inherit;
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
  );
  background-size: 400% 100%;

  animation: gradient_anim 6s linear infinite;
}



#modal_ {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal_content_ {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
  max-height: 80%;
}


.con-user {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  position: relative;
}
.con-user a {
  display: inherit;
}
.con-user svg {
  display: flex;
  align-self: center;
  width: 1em;
  height: 1em;
  
}

#navbarResponsive {
  position: relative;
}

#warning-text, #warning-text- {
  color: #f00;
}


.form-container a {
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.form-container a:visited {
  color: default;
}

.form-popup, .form-popup-sub {
  display: none;
  position: absolute;
  top: 50px;
  right: 45px;
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  z-index: 9999;
}

.form-container, .form-container-sub {
  max-width: 300px;
  padding: 10px;
  background-color: #fff;

}

.form-container input[type=text], .form-container input[type=password],
.form-container-sub input[type=text], .form-container-sub input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus,
.form-container-sub input[type=text]:focus, .form-container-sub input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btnf, .form-container-sub .btnf-sub {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container h1, .form-container label, .form-container input, .form-container p {
  padding-left: 5px;
}
.cancel {
  background-color: red !important;
  display: inline-block !important;
}

.hvr-icon-fade {

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-rotate .hvr-icon {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-rotate:hover .hvr-icon, .hvr-icon-rotate:focus .hvr-icon, .hvr-icon-rotate:active .hvr-icon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#nav_text_ {
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}
#nav_text {
  font-family: "Roboto", sans-serif;
  font-size: 1.349em;
}

footer div.row {
  margin-right: 0 !important;
}
.user > svg {
  width: 1em;
  height: 1em;
}

.user-container {
  display: none;
  position: absolute;
  top: 50px;
  border: 3px solid #f1f1f1;
  background-color: #fff;
  border-radius: 5px;
  z-index: 9999;
}
.user-popup {
  display: flex;
  flex-direction: column;
}

.configurarConta button, .sairConta button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin: 1px;
  cursor: pointer;
}

.configurarConta p, .sairConta p {
  margin: 0 0 0 5px !important;
}
.sairConta, .sairConta button, .configurarConta, .configurarConta button {
  background-color: #fff;
  width: 100%;
  transition: background-color .5s;
}
/*
.sairConta button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
} */

.sairConta:hover, .sairConta button:hover, .configurarConta:hover, .configurarConta button:hover {
  background-color: #e1e1e1;
}
.configurarConta, .configurarConta button {
  border-width: 0 !important;
}
.sairConta, .sairConta button {
  border-width: 0 !important;
  color: #a00 !important;
}