@import url("./root/root.css");
@import url("./media/@keyframes.css");

/* BODY GLOBALS */


/* CAROUSEL */
.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("./img/photo-1510070009289-b5bc34383727.jfif");
    cursor: pointer;
}
.carousel-caption {
  cursor: default;
}
#carousel_ {
  box-shadow: 0 8px 10px var(--box-shadow-light);
}
  



/* CARD */
.card {

    box-shadow: 0 4px 8px 0 var(--box-shadow);
    transition: 400ms;
    padding: var(--df-padding);
    margin: var(--df-margin);
}

.card:hover {
  box-shadow: 0 8px 16px 0 var(--box-shadow);
}

.card > img {
  width: auto;
  height: auto;
  
  max-width: 20vh;
  max-height: 20vh;
  
}

.card > img:hover {
  cursor: pointer;
}




/* CARD CONTAINER */
.container_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 16px;
}




/* CATALOG */
#catalog_body {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-top: 1.2em;
  padding-bottom: 1em;
}




/* FOOTER */

footer {
  background: #212529;
}

#shadow {
  width: 100%;
  height: var(--grad-height);
}
#button-addon2 {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 1000% 100%;
  border-color: transparent;
  animation: gradient_anim 10s linear infinite;
}

#grad_anim {
  width: inherit;
  height: inherit;
  background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
  );
  background-size: 400% 100%;

  animation: gradient_anim 6s linear infinite;
}


/* MODAL */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal_content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*
  Bootstrap Changes
*/

#nav_text_ {
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}
#nav_text {
  font-family: "Roboto", sans-serif;
  font-size: 1.349em;
}

footer div.row {
  margin-right: 0 !important;
}